.card-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
    padding: 10px;
    max-width: 500px;
    // width: 90vw;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(187, 187, 187, 0.338);
    border-radius: 15px;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px 1px;
    
    
    
    
    cursor: pointer;
    p{
        font-size: 20px;
        margin: 3px 0;
    }
}
.amount{
    font-style: italic;
}

.broke{
    color: red;
}