.card-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
    padding: 10px;
    max-width: 500px;
    // width: 90vw;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(45, 45, 45, 0.298);
    border-radius: 15px;
    cursor: pointer;
    p{
        font-size: 20px;
        margin: 3px 0;
    }
}
 