.add-button{
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 5;
}
.add-button-button{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.add-button-icon{
    font-size: 60px;
}