.form-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
    width: 90vw;
    margin: 0 auto;
}
.AddForm{
    margin: 10px auto;
    padding: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(45, 45, 45, 0.298);
    border-radius: 15px;
}
 .form-footer{
    margin: 20px 0 10px;
 }
 .formButton{
    width: 48%;
    border-radius: 5px;
 }
 .inputElement{
   width: 100%;
   display: flex;
   flex-direction: column;
 }
 label{
   height: 20px;
   margin: 5px 0;
   font-size: 16px;
 }
 input, select{
   height: 40px;
   width: 100%;
   font-size: 20px;
 }
 button{
   height: 40px;
 }
 .success{
   background: #0cb832;
 }
 .clear{
   background: #b80c0c;
 }